# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Mac OS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log